---
title: Thank you for requesting a demo of NHANCE NOW CX Platform!
---
extends layouts/_layout
block content
  .thank-you
    h1 Thank you for requesting a demo of <br>
      strong NHANCE NOW 
      | CX Platform!
    p One of our product specialist will contact you shortly on the submitted mobile number to schedule a custom tailored demo on the date & time that best suits you.
    a(href="https://www.nhancenow.com/").btn.btn-primary Please visit www.nhancenow.com