//BEGIN footer
footer.footer
  .container
    .row
      .col-md-4.col-xs-12.last-xs
        .footer__logo
          img(src="img/nhance-icon.png" srcset="img/nhance-icon@2x.png 2x, img/nhance-icon@3x.png 3x")
          p Inspirion Digital Solutions Pvt Ltd 
            span Parent Company of NHANCE NOW
        ul.footer__social
          li
            a(href="https://www.facebook.com/nhancenow/" target="_blank")
              img(src="img/facebook.png" srcset="img/facebook@2x.png 2x, img/facebook@3x.png 3x")
          li
            a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
              img(src="img/twitter.png" srcset="img/twitter@2x.png 2x, img/twitter@3x.png 3x")
          li
            a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
              img(src="img/linkedin.png" srcset="img/linkedin@2x.png 2x, img/linkedin@3x.png 3x")
      .col-md-7.col-md-offset-1.col-xs-12.last-md
        .footer__nav
          .footer__nav__block
            h3 Platform
              i.icon.icon-arrow-down
            ul
              li
                a(href="digital-experience-card.html") Digital Experience Card
              li
                a(href="digital-experience-cloud.html") Digital Experience Cloud
              li
                a(href="tour.html") Business App
          .footer__nav__block
            h3 Resources
              i.icon.icon-arrow-down
            ul
              li
                a(href="http://blog.nhancenow.com" target="_blank") Blog
              li
                a(href="http://support.nhancenow.com/" target="_blank") Help Center
              li
                a(href="security.html") Security
          .footer__nav__block
            h3 Company
              i.icon.icon-arrow-down
            ul
              li
                a(href="about-us.html") About Us
              li
                a(href="team.html") Team
              li
                a(href="customer-success-stories.html") Customers
              li
                a(href="http://nhancenow.com/partners/" target="_blank") Partners
              li
                a(href="https://angel.co/nhance-now/jobs" target="_blank") Careers
              li
                a(href="contact-us.html") Contact Us
          .footer__nav__block.footer__nav__block-last
            h3 Solutions
              i.icon.icon-arrow-down
            ul
              li
                a(href="customer-onboarding-simplified.html") Onboard
              li
                a(href="self-service.html") Instacare
              li
                a(href="customer-engagement-solutions.html") Engage
              li
                a(href="transact.html") Transact
              li
                a(href="brand-advocacy.html") Advocate
    .row
      .col-sm-6.col-xs-12.center-xs.start-sm
        .footer__copyright
          p Copyright ©2019 Inspirion Digital Solutions Pvt ltd. All rights reserved.
      .col-sm-6.col-xs-12.end-sm.center-xs
        .footer__policy
          a(href="policy.html") Privacy Policy 
          span |
          a(href="service.html") Terms of Use
//END footer