//BEGIN header
header.header
  .container
    .row.middle-xs
      .col-xs-6
        .header__logo
          img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x")
      .col-xs-6.end-xs
        a(href="tel:+14158002826") 
          i.icon.icon-
          | +1 415 800 2826
//END header
