.intro
  background-image: url('../img/home/home-banner-bg.png')
  background-color: rgb(245, 245, 245)
  background-repeat: no-repeat
  background-size: contain
  background-position: 0 100%
  &__customs
    padding-top: 70px
    padding-bottom: 150px
    +r(767)
      padding-bottom: 50px
  &__img
    position: relative
    img
      position: absolute
      left: -20px
      top: 50%
      transform: translate(0, -50%)
      width: 115%
      +r(767)
        position: static
        transform: none
        width: 100%
        padding-bottom: 20px
  &__block
    border-radius: 10px
    box-shadow: 0 0 24.5px 0 rgba(0, 0, 0, 0.08)
    background-color: $white
    padding: 55px
    +r(1040)
      padding: 25px 25px 35px
    h4
      font-size: 14px
      font-weight: 800
      color: $pink-red
      margin-bottom: 10px
      text-transform: uppercase
    h2
      font-size: 30px
      font-weight: 300
      color: $dark-two
      margin-bottom: 22px
    p
      font-size: 16px
      font-weight: 300
      line-height: 1.56
      color: $dark-two
      margin-bottom: 30px
      max-width: 530px
      +r(1040)
        br
          display: none
      b
        font-weight: bold
    ul
      padding-bottom: 30px
    li
      font-size: 14px
      font-weight: bold
      line-height: 1.43
      color: #ed135d
      text-transform: uppercase
      margin-bottom: 15px
      display: flex
      i
        margin-right: 15px
        padding-top: 2px
    &__btn
      display: flex
      +r(1040)
        flex-direction: column
      .btn
        width: 50%
        padding: 13px 0
        +r(1040)
          margin-bottom: 15px
          width: 100%
      .btn-primary-red
        background: $pink-red
        border-color: $pink-red
        margin-right: 10px
        position: relative
        &:hover
          background: none
          color: $pink-red
        span
          position: absolute
          bottom: -30px
          font-size: 12px
          text-align: center
          font-weight: normal
          color: $pink-red
          text-transform: uppercase
          display: block
          b
            font-weight: bold
            margin-right: 2px
  &__trust
    padding-bottom: 20px
    &__content
      display: flex
      align-items: center
      justify-content: space-between
      +r(1040)
        flex-wrap: wrap
      +r(550)
        flex-direction: column
    h2
      font-size: 16px
      font-weight: 600
      line-height: 1.56
      color: $dark-two
      margin-bottom: 25px
      text-align: center
      text-transform: uppercase
    &__logo
      +center
      height: 100%
      margin-bottom: 20px
      max-height: 50px
      padding: 0 20px
      +r(767)
        margin-bottom: 40px