.sale
  padding: 115px 0
  background: rgb(245, 245, 245)
  +r(767)
    padding: 50px 0
  &__offer
    padding-top: 45px
    &__img
      +center-column
      width: 100%
      padding-bottom: 50px
      animation-duration: 2s !important
      img
        width: 100%
        max-width: 228px
      p
        font-size: 12px
        font-weight: normal
        line-height: 1.67
        text-align: center
        color: $brownish-grey-two
        padding-top: 15px
    &__text
      +r(767)
        +center-column
      p
        font-size: 20px
        font-weight: normal
        line-height: 1.38
        color: $dark-two
        padding-bottom: 40px
        text-transform: uppercase
        strong
          font-weight: bold
      ul
        
        margin-bottom: 50px
      li
        font-size: 14px
        font-weight: 800
        line-height: 1.43
        color: #ed135d
        margin-bottom: 10px
        display: flex
        max-width: 460px
        width: 100%
        i
          margin-right: 15px
          padding-top: 2px
      a
        margin-left: 20px
        background: $pink-red
        border: 1px solid $pink-red
        color: $white
        height: 40px
        width: 150px
        padding: 0
        font-size: 12px
        +r(767)
          margin-left: 0
        &:hover
          color: $pink-red
      b
        font-size: 12px
        font-weight: normal
        color: $brownish-grey-two
        display: block
        margin-top: 10px
        margin-left: 25px
        +r(767)
          margin-left: 0
  &__form
    border-radius: 10px
    box-shadow: 0 0 24.5px 0 rgba(0, 0, 0, 0.08)
    background-color: $white
    padding: 95px 85px
    margin-top: 30px
    max-width: 660px
    width: 100%
    left: 100%
    position: relative
    transform: translate(-100%)
    +r(1040)
      padding: 30px
      padding-bottom: 40px
    +r(767)
      max-width: 100%
      padding: 15px
      padding-bottom: 40px
    h2
      font-size: 27px
      font-weight: normal
      line-height: 1.48
      color: $dark-two
      margin-bottom: 20px
      strong
        color: $pink-red
      b
        font-weight: bold
      +r(767)
        font-size: 25px
    i
      margin-bottom: 50px
      color: $dark-three
      font-size: 12px
      display: block
    &__input
      position: relative
      input
        border-bottom: 1px solid $pinkish-grey
        padding: 7px 0
        font-size: 14px
        font-weight: normal
        line-height: 1
        color: $dark-three
        background: none
        width: 100%
        margin-bottom: 30px
        &:focus + label
          opacity: 0
        &:valid + label
          opacity: 0
      label
        font-size: 14px
        font-weight: normal
        line-height: 1
        color: $dark-three
        position: absolute
        left: 0
        top: 10px
        +tr
        span
          color: #ed135d
          font-size: 13px
          position: relative
          top: -2px
          left: 4px
    button
      padding: 10px 0
      width: 100%
      font-size: 16px
      font-weight: normal
      +tr
      margin-top: 30px
      background: #f2015b
      border-color: #f2015b
      position: relative
      color: $white
      strong
        font-weight: bold
        margin-left: 4px
      b
        position: absolute
        left: 0
        +center
        bottom: -40px
        font-size: 12px
        font-weight: normal
        color: rgba(0, 170, 99, 0.8)
        text-transform: none
        width: 100%
        +r(1040)
          bottom: -30px
        img
          height: 16px
          margin-right: 6px
      &:hover
        background: $white
        color: #f2015b
      +r(767)
        margin-top: 0
  &__block-text
    margin-top: 60px
    h4
      font-weight: 600
      color: $dark-two
      font-size: 12px
      text-transform: uppercase
      margin-bottom: 30px
    p
      font-size: 12px
      color: $brownish-grey-two
      line-height: 1.64
        

