.use
  background: $dark-two
  padding: 90px 0
  overflow: hidden
  +r(767)
    padding: 50px 0
  &__title
    padding-bottom: 100px
    +r(767)
      padding-bottom: 40px
    h2
      font-size: 30px
      font-weight: 300
      color: $white
      strong
        font-weight: 800
        color: $pink-red
  &__content
    position: relative
    &:before, &:after
      content: ''

  &__row
    display: flex
    border-bottom: 1px solid rgba($pinkish-grey, 0.2)
    +r(767)
      flex-direction: column
      border-bottom: none
    &:last-child
      border-bottom: none
  &__block
    display: flex
    align-items: flex-start
    padding: 35px 43px 45px
    width: 100%
    flex: 3
    border-right: 1px solid rgba($pinkish-grey, 0.2)
    +r(1040)
      padding: 25px 15px 35px
    +r(767)
      border: none
      border-bottom: 1px solid rgba($pinkish-grey, 0.2)
    &:nth-child(2)
      border-right: none
    &:last-child
      border-left: 1px solid rgba($pinkish-grey, 0.2)
      border-right: none
      +r(767)
        border-left: 0
    &-btn
      +center
      +r(767)
        border-bottom: none
    &__img
      width: 50px
      +center-x
      margin-right: 25px
      +r(1040)
        margin-right: 15px
        width: 40px
    &__text
      flex: 1
      strong
        font-size: 14px
        font-weight: bold
        color: $white
        margin-bottom: 17px
        display: block
      p
        font-size: 14px
        font-weight: normal
        line-height: 1.43
        color: $pinkish-grey
