include _mixins
doctype html
html
  head
    include _head
  body(class=bodyClass)
    //BEGIN out
    .out(class=outClass)
      block header
        include ../partials/_header
      block content
      block footer
        include ../partials/_footer
      block pop-up
        include ../partials/_pop-up
    //END out

    //LOAD SCRIPTS
    block scripts
      script(type='text/javascript').
        var capterra_vkey = 'd2d71e681b2e51f7293aaf5438722180',
        capterra_vid = '2125646',
        capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');
          (function() {
            var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
            ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
          })
        ();
      script(type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false")
      script(type="text/javascript").
        window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"b7373c443f74841bbd510d4e1","lid":"575c25a38c","uniqueMethods":true}) })
      script(src="js/wow.js")
      script(src="js/app.js")
