section.advantage
  .container
    .row
      .col-sm-6.col-sm-offset-6.col-xs-12
        h2.wow.fadeInUp(data-wow-duration='1s' data-wow-offset="100") We help Businesses Setup and Organize Successful Customer Experience Programs
        p.wow.fadeInUp(data-wow-duration='1s' data-wow-offset="100") Right from Designing Customer Journey Maps, Establishing New Customer Touchpoints, Process Integrations, Implementation and leading cross-functional initiatives that deliver Simple, Convenient and Personalized Experience to their Customers.