section.advantage
  .container
    .row
      .col-xs-6.col-xs-offset-6
        h2 We help Businesses Setup and Organize Successful Customer Experience Programs
        p Right from Designing Customer Journey Maps, Establishing New Customer Touchpoints, Process Integrations, Implementation and leading cross-functional initiatives that deliver Simple, Convenient and Personalized Experience to their Customers.