section.intro
  .container
    .intro__customs
      .row.middle-xs
        .col-sm-5.col-xs-12
          .intro__img
            img(src='img/home/home-banner.png', srcset='img/home/home-banner@2x.png 2x, img/home/home-banner@3x.png 3x')
        .col-sm-7.col-xs-12
          .intro__block
            h4 CUSTOM TAILORED & FULLY INTEGRATED
            h2 Customer Experience Management Platform
            p 
              b CX Automation Tools 
              | designed for Startups, SMBs and SMEs<br>
              b to deliver Best-in-Class Customer Experience
              | , Cut Costs and<br> Increase Business Revenue
            ul
              li
                i.icon.icon-check
                | Personalize, Engage and Build Trust with your customers
              li
                i.icon.icon-check
                | Create an Effective New Sales Channel to Grow Your Business.
            .intro__block__btn
              a(href="#mc_embed_signup").btn.btn-primary Start your 30-day FREE Trial
                span (No credit card required)
              a(href="#mc_embed_signup").btn.btn-primary.btn-primary-red Request a FREE Consultation
    .intro__trust
      h2 Trusted by businesses globally
      .intro__trust__content
        .intro__trust__logo.wow.zoomIn(data-wow-duration='1s')
          img(src='img/home/client-01.png', srcset='img/home/client-01@2x.png 2x, img/home/client-01@3x.png 3x')
        .intro__trust__logo.wow.zoomIn(data-wow-duration='1s')
          img(src='img/home/client-02.png', srcset='img/home/client-02@2x.png 2x, img/home/client-02@3x.png 3x')
        .intro__trust__logo.wow.zoomIn(data-wow-duration='1s')
          img(src='img/home/client-03.png', srcset='img/home/client-03@2x.png 2x, img/home/client-03@3x.png 3x')
        .intro__trust__logo.wow.zoomIn(data-wow-duration='1s')
          img(src='img/home/client-04.png', srcset='img/home/client-04@2x.png 2x, img/home/client-04@3x.png 3x')
        .intro__trust__logo.wow.zoomIn(data-wow-duration='1s')
          img(src='img/home/client-05.png', srcset='img/home/client-05@2x.png 2x, img/home/client-05@3x.png 3x')
        .intro__trust__logo.wow.zoomIn(data-wow-duration='1s')
          img(src='img/home/client-06.png', srcset='img/home/client-06@2x.png 2x, img/home/client-06@3x.png 3x')