section.sale
  .container
    .row
      .col-xs-5
        .sale__offer
          .sale__offer__img
            img(src='img/home/new-year.png', srcset='img/home/new-year@2x.png 2x, img/home/new-year@3x.png 3x')
          .sale__offer__text
            p Have fun experimenting with all-of-our 
              strong CX and Campaign Management Tools
            ul
              li
                i.icon.icon-check
                | PLATFORM USAGE FEE WAIVED OFF FOR 1 YEAR
              li
                i.icon.icon-check
                | GAIN FREE ACCESS TO ALL THE PREMIUM CX TOOLS
              li
                i.icon.icon-check
                | RUN UNLIMITED CAMPAIGNS 100% FREE
            span To claim this offer request a live demo and present the promocode 
              b <br>GROW200 
              | at the end of the session.
      .col-xs-7
        form.sale__form
          h2 
            b 30-Minutes 
            | Live Demo to experience 
            strong NHANCE NOW 
            | in action.
          .sale__form__input
            input(type="text" id="name" required)
            label(for="name") Full Name
              span *
          .sale__form__input
            input(type="email" id="email" required)
            label(for="email") Work Email
              span *
          .sale__form__input
            input(type="text" id="company" required)
            label(for="company") Company Name
              span *
          .sale__form__input
            input(type="tel" id="mobile" required)
            label(for="mobile") Mobile Number
              span *
          input(type="submit" value="submit").btn.btn-primary