section.sale
  .container
    .row
      .col-md-5.col-sm-6.col-xs-12
        .sale__offer
          .sale__offer__img.wow.pulse.infinite(data-wow-duration='1s' data-wow-offset="100")
            img(src='img/home/new-year.png', srcset='img/home/new-year@2x.png 2x, img/home/new-year@3x.png 3x')
            p Limited Period Offer
          .sale__offer__text
            p Have fun experimenting with all-of-our 
              strong CX and Campaign Management Tools
            ul
              li
                i.icon.icon-check
                | PLATFORM USAGE FEE WAIVED OFF FOR 1 YEAR
              li
                i.icon.icon-check
                | GAIN FREE ACCESS TO ALL THE PREMIUM CX TOOLS
              li
                i.icon.icon-check
                | RUN UNLIMITED CAMPAIGNS 100% FREE
            span To claim this offer request a live demo and present the promocode 
              b <br>GROW200 
              | at the end of the session.
      //- .col-md-7.col-sm-6.col-xs-12
      //-   form.sale__form
      //-     h2 
      //-       b 30-Minutes 
      //-       | Live Demo to experience 
      //-       strong NHANCE NOW 
      //-       | in action.
      //-     .sale__form__input
      //-       input(type="text" id="name" required)
      //-       label(for="name") Full Name
      //-         span *
      //-     .sale__form__input
      //-       input(type="email" id="email" required)
      //-       label(for="email") Work Email
      //-         span *
      //-     .sale__form__input
      //-       input(type="text" id="company" required)
      //-       label(for="company") Company Name
      //-         span *
      //-     .sale__form__input
      //-       input(type="tel" id="mobile" required)
      //-       label(for="mobile") Mobile Number
      //-         span *
      //-     input(type="submit" value="submit").btn.btn-primary
      .col-md-7.col-sm-6.col-xs-12
        // Begin Mailchimp Signup Form
        //- link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
        #mc_embed_signup.wow.zoomIn(data-wow-duration='1s' data-wow-offset="100")
          form#mc-embedded-subscribe-form.validate.sale__form(action='https://nhancenow.us19.list-manage.com/subscribe/post?u=b7373c443f74841bbd510d4e1&id=575c25a38c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll
              h2 
                b 30-Minutes 
                | Live Demo to experience 
                strong NHANCE NOW 
                | in action.
              .sale__form__input.mc-field-group
                input#mce-LNAME.required(type='text', value='', name='LNAME' required)
                label(for='mce-LNAME')
                  | Full Name  
                  span.asterisk *
              .sale__form__input.mc-field-group
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL' required)
                label(for='mce-EMAIL')
                  | Work Email  
                  span.asterisk *
              .sale__form__input.mc-field-group
                input#mce-MMERGE5.required(type='text', value='', name='MMERGE5' required)
                label(for='mce-MMERGE5')
                  | Company Name  
                  span.asterisk *
              .sale__form__input.mc-field-group.size1of2
                input#mce-MMERGE6.required(type='text', name='MMERGE6', value='' required)
                label(for='mce-MMERGE6')
                  | Mobile Number  
                  span.asterisk *
              #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;', aria-hidden='true')
                input(type='text', name='b_b7373c443f74841bbd510d4e1_575c25a38c', tabindex='-1', value='')
              .clear
                input#mc-embedded-subscribe.button.btn.btn-primary(type='submit', value='REQUEST A FREE DEMO', name='subscribe')
        script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        script(type='text/javascript').
          (function($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[5]='MMERGE5';
            ftypes[5]='text';
            fnames[6]='MMERGE6';
            ftypes[6]='phone';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        // End mc_embed_signup
