section.transform
  .container
    .transform__title
      h2 Transform Every Stage of the Post Purchase Journey
      p
        | Bring together all your post purchase channels to improve service, support, up sell, insights gathering 
        br
        | and marketing automation and offer a seamless journey to your customers
  .transform__content
    .container
      .transform__row
        .transform__block.transform__block--1
          .transform__block__info
            img(src='img/home/onboard.png', srcset='img/home/onboard@2x.png 2x, img/home/onboard@3x.png 3x')
            strong onboard
            p Smooth and quick onboarding
            a(href='customer-onboarding-simplified.html')
              | Learn More
              i.icon.icon-arrow-right-2
          .transform__block__list
            span
            ul
              li Product Registration
              li Smart Recommendations
              li Step by Step Guides
              li Digital Repositories
        .transform__block.transform__block--2
          .transform__block__info
            img(src='img/home/instacare.png', srcset='img/home/instacare@2x.png 2x, img/home/instacare@3x.png 3x')
            strong Instacare
            p On Demand & Conversational
            a(href='self-service.html')
              | Learn More
              i.icon.icon-arrow-right-2
          .transform__block__list
            span
            ul
              li Do It Yourself
              li Help Center
              li Live Chat
        .transform__block.transform__block--3
          .transform__block__info
            img(src='img/home/engage.png', srcset='img/home/engage@2x.png 2x, img/home/engage@3x.png 3x')
            strong Engage
            p Contextual and Personalized Messaging
            a(href='customer-engagement-solutions.html')
              | Learn More
              i.icon.icon-arrow-right-2
          .transform__block__list
            span
            ul
              li Lifecycle Messaging
              li Feedback Management
              li Data Driven Smart Interactions
        .transform__block.transform__block--4
          .transform__block__info
            img(src='img/home/transact.png', srcset='img/home/transact@2x.png 2x, img/home/transact@3x.png 3x')
            strong Transact
            p Expand relationship, increase lifetime value
            a(href='transact.html')
              | Learn More
              i.icon.icon-arrow-right-2
          .transform__block__list
            span
            ul
              li Cross Sell
              li UpSell
              li Add-On Selling
        .transform__block.transform__block--5
          .transform__block__info
            img(src='img/home/advocate.png', srcset='img/home/advocate@2x.png 2x, img/home/advocate@3x.png 3x')
            strong advocate
            p Incentivize brand promotion
            a(href='brand-advocacy.html')
              | Learn More
              i.icon.icon-arrow-right-2
          .transform__block__list
            span
            ul
              li Gamification
              li Promotions