section.use
  .container
    .row
      .col-xs-12.center-xs
        .use__title
          h2 What you can do with 
            strong NHANCE NOW?​​​
    .use__content
      .use__row
        .use__block
          .use__block__img
            img(src='img/home/use/icon-01.png', srcset='img/home/use/icon-01@2x.png 2x, img/home/use/icon-01@3x.png 3x')
          .use__block__text
            strong Earn & Build Customer Loyalty
            p Powerful, Automated & Easy-to-use CX Tools to strengthen your bond with customer
        .use__block
          .use__block__img
            img(src='img/home/use/icon-02.png', srcset='img/home/use/icon-02@2x.png 2x, img/home/use/icon-02@3x.png 3x')
          .use__block__text
            strong Deliver Excellent Customer Service
            p Live Chat Support; Configure Help Center & FAQs; Convert customer requests into unique ticket ids; Assign tickets to agents; Measure & Monitor Customer Satisfaction.
        .use__block
          .use__block__img
            img(src='img/home/use/icon-03.png', srcset='img/home/use/icon-03@2x.png 2x, img/home/use/icon-03@3x.png 3x')
          .use__block__text
            strong Generate Additional Sales
            p Easily create Cross-sell & Upsell Opportunities through Campaign Manager and other in-app tools
      .use__row
        .use__block
          .use__block__img
            img(src='img/home/use/icon-04.png', srcset='img/home/use/icon-04@2x.png 2x, img/home/use/icon-04@3x.png 3x')
          .use__block__text
            strong Earn & Build Customer Loyalty
            p Powerful, Automated & Easy-to-use CX Tools to strengthen your bond with customer
        .use__block
          .use__block__img
            img(src='img/home/use/icon-05.png', srcset='img/home/use/icon-05@2x.png 2x, img/home/use/icon-05@3x.png 3x')
          .use__block__text
            strong Earn & Build Customer Loyalty
            p Powerful, Automated & Easy-to-use CX Tools to strengthen your bond with customer
        .use__block
          .use__block__img
            img(src='img/home/use/icon-06.png', srcset='img/home/use/icon-06@2x.png 2x, img/home/use/icon-06@3x.png 3x')
          .use__block__text
            strong Earn & Build Customer Loyalty
            p Powerful, Automated & Easy-to-use CX Tools to strengthen your bond with customer
      .use__row
        .use__block
          .use__block__img
            img(src='img/home/use/icon-07.png', srcset='img/home/use/icon-07@2x.png 2x, img/home/use/icon-07@3x.png 3x')
          .use__block__text
            strong Earn & Build Customer Loyalty
            p Powerful, Automated & Easy-to-use CX Tools to strengthen your bond with customer
        .use__block
          .use__block__img
            img(src='img/home/use/icon-08.png', srcset='img/home/use/icon-01@2x.png 2x, img/home/use/icon-01@3x.png 3x')
          .use__block__text
            strong Earn & Build Customer Loyalty
            p Powerful, Automated & Easy-to-use CX Tools to strengthen your bond with customer
        .use__block.use__block-btn
          a(href="#").btn.btn-secondary DO More...
            i.icon.icon-arrow-right-2